[submodule "ext/cat1"]
	path = ext/cat1
	url = git@github.com:wpumacay/cat1.git
[submodule "ext/tysocTerrain"]
	path = ext/tysocTerrain
	url = git@github.com:wpumacay/tysocTerrain.git
[submodule "ext/bullet"]
	path = ext/bullet
	url = https://github.com/bulletphysics/bullet3.git
