# file-exclusions
*.so
*.a
*.out
*.o
*.lib
*.swp
*.swo
*.pyc
*.pyo
*.ini

# folder-exclusions
build/
.vscode/
_legacy/
dist/
pytysoc.egg-info/
tysoc_bullet.egg-info/

# dependencies-exclusions
ext/cat1
ext/imgui
ext/pybind11
ext/bullet*
core/

# specific file-exclusions
model_info.txt